.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.title {
  font-family: 'Noto Sanans Kr', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #3678f9;
  margin-left: 30px;
}

.subTitle {
  font-family: 'Noto Sanans Kr', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-left: 20px;
}


// 예전 헤더 정보
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;

  h1 {
    font-family: 'Noto Sanans Kr', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 40px;

  h2 {
    font-family: 'Noto Sanans Kr', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
  }
}