
$gray50: #fafafa;
$gray100: #fafafa;
$gray200: #f3f3f5;
$gray300: #e0e0e0;
$gray400: #bdbdbd;
$gray450: #ceced0;
$gray500: #9e9e9e;
$gray550: #9a9ba0;
$gray600: #757575;
$gray700: #414145;
$gray750: #6c6c6f;
$gray770: #6f6f75;
$gray800: #424242;
$gray900: #212121;
$gradient: linear-gradient(90deg, #995aff 0%, #ff63ae 100%);
$white: #fff;
$black: #000;
$purple: #995aff;
$purePurple: #fbf9ff;
$primary-purple: #a35aff;
$lightPurple: #e1ceff;
$darkPurple: #350770;
$pink: #ff63ae;
$orange: #ffb13d;
$primary-red: #ff5454;
$red: #ff4949;
$green: #28e172;
$lightPink: #ffe4f1;
$blue: #3678f9;
$pureBlue: #f8fbff;
$dark-blue: #061e7e;
$purePurple: #fbf9ff;

:export {
  gray50: $gray50;
  gray100: $gray100;
  gray200: $gray200;
  gray300: $gray300;
  gray400: $gray400;
  gray450: $gray450;
  gray500: $gray500;
  gray550: $gray550;
  gray600: $gray600;
  gray700: $gray700;
  gray750: $gray750;
  gray800: $gray800;
  gray900: $gray900;
  gradient: $gradient;
  white: $white;
  black: $black;
  purple: $purple;
  primaryPurple: $primary-purple;
  lightPurple: $lightPurple;
  darkPurple: $darkPurple;
  pink: $pink;
  orange: $orange;
  primary-red: $primary-red;
  red: $red;
  green: $green;
  lightPink: $lightPink;
  blue: $blue;
  dark-blue: $dark-blue;
}