// z-index
$z-index-header: 102;
$z-index-footer: 99;
$z-index-menu-nav: 103;
$z-index-community-nav: 104;
$z-index-notice: 101;
$z-index-modal: 1000;
$z-index-dimmed: 999;
$z-index-toast: 500;
$z-index-quick-view-shadow: 102;
$z-index-nav-modal: 103;
$z-index-nav-dimmed: 102;

// layout
$layout-header-height: 56px;
$layout-mobile-header-height: 48px;
$layout-footer-height: 258px;
$layout-mobile-footer-height: 330px;
$layout-menu-nav-width: 248px;
$layout-community-nav-width: 72px;
$layout-wingBanner-width: 262px;
$layout-main-container-width: 1120px;
$layout-bottomSheet-height: 64px;
